<footer>
    <div class="row">
        <div class="column">
            <ul>
                <li>SVWork</li>
                <li>Liên Hệ</li>
                <li>Hỏi Đáp</li>
                <li>Thoả Thuận Sử Dụng</li>
                <li>Quy Định Bảo Mật</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Dành Cho Nhà Tuyển Dụng</li>
                <li>Đăng tuyển dụng</li>
                <li>Tìm kiếm hồ sơ</li>
                <li>Sản phẩm Dịch vụ khác</li>
                <li>Liên hệ</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Việc làm theo ngành nghề</li>
                <li>Kế toán</li>
                <li>Ngân hàng</li>
                <li>IT - Phần mềm</li>
                <li>IT - Phần cứng/Mạng</li>
                <li>Xây dựng</li>
            </ul>
        </div>
        <div class="column">
            <p>Chứng nhận bởi</p>
            <img src="/img/Certi_bo_cong_thuong.png" alt="">
        </div>
    </div>
    <hr>
    <div class="content-center">
        <p>Copyright © Công Ty Cổ Phần SV Group</p>
        <p>Đại học Quốc Tế, TP.Thủ Đức, TP.HCM, Việt Nam</p>
    </div>
</footer>