<div class="navbar">
    <a class="logo" href="Homepage">
        <img src="https://www.vietnamworks.com/assets-page-container/images/vnw_logo_white.png" alt="VietNamWork">
    </a>
    <a href="Homepage">
        <button>Việc Làm</button>
    </a>
    <a href="About">
        <button>Phỏng Vấn</button>
    </a>
    <a href="Schedule">
        <button>Mức Lương</button>
    </a>
    <a href="Collections">
        <button>Công Ty</button>
    </a>
    <a href="Profile">
        <button>WowCV</button>
    </a>
    <!-- <a href="Menu" class="right">Menu</a> -->
    {{!-- <input id="search" type="spaceholder">
    <i class="fa-solid fa-magnifying-glass" id="lookup"></i> --}}
    <div class="dropdown">
        <i class="fa-solid fa-user"></i>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Đăng nhập</a>
            <hr>
            <a class="dropdown-item" href="#">Tạo tài khoản mới</a>
        </div>
    </div>
</div>