<div class="slider">
    <img src="/img/slider/HondaPremiumbanner_119779.webp" alt="">
    <div class="search_input">
        <input id="search" placeholder="Type To search" type="spaceholder">

        <div class="autocom-box">
            <li>Login with the HTML and CSS</li>
        </div>
    </div>
    <i class="fas fa-square-caret-left"></i>
    <i class="fas fa-square-caret-right"></i>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Các Công Ty Hàng Đầu</h2>
        <div class="section-content">
            <div class="company-item">
                <a href="#">
                    <div class="company-content">
                        <img src="/img/company_img/Kinh_DO.webp" alt="" class="company-img">
                        <div>
                            <div class="company-name">MONDELĒZ KINH ĐÔ VIỆT NAM</div>
                            <span class="company-tag text-white">việc mới</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="company-item">
                <a href="#">
                    <div class="company-content">
                        <img src="/img/company_img/MeTub_viplogo_119863.jpeg" alt="" class="company-img">
                        <div>
                            <p class="company-name">METUB VIETNAM</p>
                            <span class="company-tag text-white">việc mới</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="company-item">
                <a href="#">
                    <div class="company-content">
                        <img src="/img/company_img/Tek_vipfinal_101558.webp" alt="" class="company-img">
                        <div>
                            <p class="company-name">TEK EXPERTS</p>
                            <span class="company-tag text-white">việc mới</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="company-item">
                <a href="#">
                    <div class="company-content">
                        <img src="/img/company_img/MB_viplogonew_119599.webp" alt="" class="company-img">
                        <div>
                            <p class="company-name">MB SECURITIES</p>
                            <span class="company-tag text-white">việc mới</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="company-item">
                <a href="#">
                    <div class="company-content">
                        <img src="/img/company_img/crystal_vip_100524.png" alt="" class="company-img">
                        <div>
                            <p class="company-name">CÔNG TY TNHH CRYSTAL MARTIN</p>
                            <span class="company-tag text-white">việc mới</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Việc Làm Tốt Nhất</h2>
        <div class="section-content"></div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Ngành Nghề Trọng Điểm</h2>
        <div class="section-content"></div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Việc Làm Gợi Ý</h2>
        <div class="section-content"></div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Nhà Tuyển Dụng Nổi Bật</h2>
        <div class="section-content"></div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Việc Làm Nổi Bật Ngành Xây dựng</h2>
        <div class="section-content"></div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Việc Làm Nổi Bật Ngành Kiến trúc/Thiết kế nội thất</h2>
        <div class="section-content"></div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Việc Làm Nổi Bật Thực tập sinh</h2>
        <div class="section-content"></div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">Tư vấn nghề nghiệp từ HR Insider</h2>
        <div class="section-content"></div>
    </div>
</div>